.content-wrapper {
  background-color: #eaeaea;
  padding: 15px 0px;
  margin-bottom: 15px;
  .left-box {
    .icon {
      width: 119px;
      height: 119px;
      display: block;
      background-position: -451px -351px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
  .center-box {
    p {
      margin-bottom: 0px;
    }
  }
  .right-box {
    text-align: right;
    span {
      float: right;
      margin-top: 40px;
      cursor: pointer;
    }
  }
}

.filter-box-left {
  input[type="text"] {
    width: 85%;
    padding: 10px 5px 10px 15px;
    &:focus {
      outline: none;
    }
  }
}
.filter-box-center {
  ul {
    margin: 14px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    li {
      display: inline-block;
      color: #a7a7a7;
      width: 19px;
      height: 19px;
      text-transform: uppercase;
      font-size: 14px;
      cursor: pointer;
      &.active {
        background-color: #3d83ab;
        border-radius: 50%;
        color: #fff;
      }
    }
  }
}
.filter-box-right {
  text-align: center;
  div {
    &.icon {
      width: 44px;
      height: 42px;
      display: inline-block;
      background-position: -291px -1px;
      cursor: pointer;
      &:hover {
        & + .popover {
          display: block;
        }
      }
    }
    &.popover {
      width: 100%;
      background-color: #1f2532;
      color: #fff;
      width: 100%;
      border-radius: 0px;
      top: -35px;
      padding: 5px;
      text-align: center;
      &::after {
        position: absolute;
        content: "";
        left: 0px;
        right: 0px;
        bottom: -9px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #1f2532;
        margin: auto;
      }
    }
  }
}
//
.data-wrapper {
  margin-top: 15px;
  ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    float: left;
    width: 100%;
    list-style: none;
    li {
      float: left;
      width: 100%;
      margin-bottom: 7.5px;
      margin-top: 7.5px;
      height: auto;
      @media only screen and (min-width: breakpoint(sm)) {
        width: 33.333%;
      }
      .data-left {
        float: left;
        margin-right: 8px;
        label {
          margin-bottom: 0px;
          input[type="checkbox"] {
            display: none;
            &:checked {
              & + label {
                border: solid 2px #198074;
                span {
                  &:nth-child(2) {
                    background-color: #198074;
                    & > span {
                      @extend .icon;
                      background-position: -453px -5px;
                    }
                  }
                }
              }
            }
          }
          label {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            cursor: pointer;
            border: solid 2px #cccccc;
            overflow: hidden;
            text-align: center;
            position: relative;
            margin-bottom: 0px;
            span {
              display: block;
              &.imgThumb {
                overflow: hidden;
              }
              img {
                width: 100%;
              }
              &:nth-child(2) {
                background-color: #cccccc;
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                height: 20px;
              }
            }
            .checkBox {
              & > span {
                width: 12px;
                height: 12px;
                background-color: #fff;
                margin: 4px auto auto auto;
              }
            }
          }
        }
      }
      .data-right {
        float: left;
        span {
          display: block;
          text-align: left;
          &:nth-child(1) {
            color: #3d83ab;
            font-size: 16px;
            font-weight: bold;
            margin-top: 13px;
          }
          &:nth-child(2) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.load-more {
  margin-top: 20px;
  margin-bottom: 20px;
  .btn {
    background-color: #198074;
    color: #fff;
    text-align: center;
    border-radius: 0px;
  }
}

.cog-dropdown {
  border: solid 1px #1f2532;
  position: absolute;
  bottom: -162px;
  right: 0;
  width: 100%;
  max-width: 120px;
  height: 150px;
  background-color: #1f2532;
  z-index: 50;
  border-radius: 5px;
  -webkit-transition: all .300ms ease-in-out;
  -moz-transition: all .300ms ease-in-out;
  -o-transition: all .300ms ease-in-out;
  transition: all .300ms ease-in-out;
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      padding: 5px;
      color: #777;
      cursor: pointer;
      border-bottom: solid 1px rgba(0,0,0,0.5);
      &:hover {
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        -webkit-transition: all .300ms ease-in-out;
        -moz-transition: all .300ms ease-in-out;
        -o-transition: all .300ms ease-in-out;
        transition: all .300ms ease-in-out;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    right: 7px;
    top: -15px;
    width: 15px;
    height: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1f2532;
  }
}
