.nopadding {
  padding: 0px;
}
.content-wrapper {
  background-color: #fbfbfb;
  padding: 15px 0px;
  margin-bottom: 15px;
  height: 100vh;
}

//
stockdata {
  ul {
    float: left;
    width: 100%;
    list-style: none;
    li {
      &:first-child {
        p {
          span {
            font-weight: bold;
            min-width: 100px;
            border: solid 1px #dcdcdc;
            background-color: #dcdcdc !important;
            padding: 10px;
          }
        }
      }
      p {
        span {
          display: inline-block;
          padding: 5px;
          border: solid 1px #dedede;
          text-align: left;
          width: 200px;
          &:first-child {
            text-transform: capitalize;
          }
          &:last-child {
            background-color: #fff;
          }
        }
      }
    }
  }
}
